.row {
    margin: 0;
}

.todo-goster {
    display: flex;
    flex-direction: column;

}

.data-input {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.btn-outline-danger {
    margin-top: 5px;
}

.profile-image {
    border: 0px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    align-self: center;

}

.nav {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    border-right: 5px solid white;
    border-top: 5px solid white;
}

.todo {
    align-self: center;
    width: 50%;
}

.account-info {
    color: black;
    display: flex;
    flex-direction: column;

    margin: 3px;
    padding: 3px;
}

.menu {
    width: 100%;
}

.col-2,
.col-10 {
    padding: 0;
    margin: 0;
}

.content {
    margin-top: 25px;
}